@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500&display=swap");

:root {
    --body-color: #2c2d2a;
    --savanna-bg: #e9bf8b;
    --beach-bg: #e7dfcf;
    --glacier-bg: #b6d6c8;
    --coral-bg: #e86357;
    --arrow-fill: #333231;
    --body-font: "Montserrat", sans-serif;
    --italic-font: "EB Garamond", serif;
}

* {
    box-sizing: border-box;
    outline: none;
}

img {
    max-width: 50%;
}

a {
    text-decoration: none;
    color: var(--body-color);
}

h1,
h2,
h3 {
    margin: 12;
}

body {
    font-family: var(--body-font);
    background-color: #1d1e20;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    color: var(--body-color);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--beach-bg);
}

.logo {
    width: 50px;
}

.header {
    display: flex;
    align-items: center;
    height: 62px;
    width: 100%;
    white-space: nowrap;
    flex-shrink: 0;
    font-weight: 600;
    font-size: 15px;
    border-bottom: 1px solid rgba(44, 45, 42, 0.25);
    background-color: var(--beach-bg);
    z-index: 6;
    position: absolute;
    top: 0;
    left: 0;
}

.header-menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-menu a:not(:first-child) {
    margin-left: 30px;
}

.menu-icon {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menu-icon svg {
    width: 22px;
}

.header-icons {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.header-icons svg {
    width: 18px;
}

.header-icons svg:not(:last-child) {
    margin-right: 20px;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputText {
    display: block;
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: #0056b3;
}

.btn2 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn2:hover {
    background-color: #b30000;
}

.btn1 {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00ff04;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.btn1:hover {
    background-color: #00ff04;
}

.custom-wrapper {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.custom-table {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .custom-table {
        display: block;
    }
}

.custom-row {
    display: table-row;
    background: #f6f6f6;
}

.custom-row:nth-of-type(odd) {
    background: #e9e9e9;
}

.custom-row.cuerpo {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}

.custom-row2 {
    display: table-row;
    background: #f6f6f6;
}

.custom-row2:nth-of-type(odd) {
    background: #e9e9e9;
}
.custom-row2.cuerpo {
    font-weight: 900;
    color: #ffffff;
    background: #5388ea;
}

@media screen and (max-width: 580px) {
    .custom-row2 {
        padding: 14px 0 35px;
        display: block;
    }
    .custom-row2.header {
        padding: 0;
        height: 32px;
    }
    .custom-row2.header .custom-cell {
        display: none;
    }
    .custom-cell {
        margin-bottom: 10px;
    }
    .custom-cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

@media screen and (max-width: 580px) {
    .custom-row {
        padding: 14px 0 7px;
        display: block;
    }
    .custom-row.header {
        padding: 0;
        height: 6px;
    }
    .custom-row.header .custom-cell {
        display: none;
    }
    .custom-cell {
        margin-bottom: 10px;
    }
    .custom-cell:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

.custom-cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .custom-cell {
        padding: 2px 16px;
        display: block;
    }
}

.mySwiper {
    margin-top: -300px; /* Ajusta este valor según sea necesario */
}